.cloud {
  position: absolute;
  width: 250px;
  height: 120px;
  /* background: rgba(255, 255, 255, 0.8); */
  border-radius: 50%;
  animation: moveCloud 40s linear infinite;
  z-index: 1;
}
.cloud-0 { animation-duration: 30s; opacity: 0.9; }
.cloud-1 { animation-duration: 35s; opacity: 0.75; }
.cloud-2 { animation-duration: 40s; opacity: 0.6; }
.cloud-3 { animation-duration: 45s; opacity: 0.4; }
.cloud-4 { animation-duration: 50s; opacity: 0.5; }
.cloud-5 { animation-duration: 55s; opacity: 0.8; }

@keyframes moveCloud {
  0% { left: 100vw; transform: translateX(0); }
  100% { left: -240px; transform: translateX(0); }
}
